.jitsi__header {
}
.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#jitsi-container {
  overflow: scroll;
  height: calc(100vh - 58px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
#jitsi-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#jitsi-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#jitsi-container.tile__view {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
}

#jitsi-container .video {
  width: 100%;
  height: calc(100vh - 58px);
  position: relative;
}

#jitsi-container .video.tile__view__video {
  width: 40%;
  height: auto;
  padding: 5px;
}

#jitsi-container .video video {
  width: 100%;
}

.mic {
  position: absolute;
  font-size: x-large;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}
#jitsi-container .video.tile__view__video .mic {
  top: 5%;
}

.toolbox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
}

.toolbox__center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbox button {
  background: transparent;
  border: medium none;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s ease-in-out 0s;
  -webkit-appearance: none;
  max-width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: normal;
  color: #ffffff;
  min-width: 90px;
  padding: 10px;
}
.toolbox button svg {
  font-size: 1.5rem;
  width: 44px;
  height: 44px;
}
.toolbox button:hover {
  background-color: rgb(128, 120, 106);
}

#btnHangup {
  color: red;
}

.participants_info {
  display: block !important;
}
#participants_info {
  bottom: 50px;
  position: absolute;
  background: white;
  left: 500px;
}

.video-off {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1;
  padding: 0 9px 9px 0;
  background-clip: content-box;
}

.video-off img {
  max-height: 200px;
  min-height: 10%;
  height: 50%;
}
.meet-end {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.meet-end .start-again {
  background: red;
  padding: 30px;
  border-radius: 20px;
  box-shadow: inset 0px 0 8px 8px #1513134d;
  margin: 30px;
}

#jitsi-container .participantName {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

#jitsi-container .participantName h5 {
  color: white;
  z-index: 2;
  padding: 2px 0;
}
